#python
pycache/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
#Ide 
.vscode/
.idea/
*.swp
*.swo
#os
.DS_Store
Thumbs.db
#data files
*.json
*.csv
*.parquet
*.hudi
#logs
*.log
logs/
#local configuration 
.env
docker-compose.override.yml
